version: '3.7'

services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    image: gamba
    restart: unless-stopped
    links:
      - redis
    depends_on:
      - redis
    environment:
      - DISCORD_TOKEN=
      - REDIS_URI=redis://redis:6379
    volumes:
      - ./data:/db/

  redis:
    image: redis
    restart: unless-stopped
    volumes:
      - ./data/redis:/data
    ports:
      - 6739:6739